@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

/* Main Elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  /* width: 100vw; */
}

nav {
  font-family: "Style Script", "Arial", "sans-serif";
}

body {
  background-color: rgb(255, 252, 207);
  width: 100%;
}
h1 {
  font-family: "Style Script", "Arial", "sans-serif";
  margin-top: 5px;
  margin-left: 10px;
  font-size: 60px;
}

h2,
h3 {
  font-family: "Style Script", "Arial", "sans-serif";
  margin-top: 5px;
  padding-right: 5px;
  font-size: 60px;
}

h4 {
  font-family: "Style Script", "Arial", "sans-serif";
  margin-top: 5px;
  padding-right: 5px;
  font-size: 45px;
}

h1,
h2,
h3,
h4,
p,
a,
button,
div,
img,
section,
nav,
strong,
em {
  overflow: hidden;
}

/* End of main elements */

/* Header Section */

.header-nav {
  background-color: rgb(110, 162, 52);
  width: 100%;
  position: fixed;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#hamburger,
#toggle {
  display: none;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 20px;
  height: 100%;
}

/* End of header section */

#our-team {
  font-family: "Style Script", "Arial", "sans-serif";
  /* border: 5px solid red; */
  width: 20%;
  font-size: 60px;
  margin-left: 90px;
  margin-bottom: 25px;
  margin-top: 50px;
}

.btn-outline-warning {
  font-family: "Style Script", "Arial", "sans-serif";
  font-size: 30px;
  margin-top: 15px;
}

.carousel-btn {
  height: 50px;
  width: 200px;
}

.carousel-indicators {
  height: 20px;
}

#pizza-logo {
  height: 10px;
  padding-bottom: 45px;
}

li {
  list-style: none;
  display: inline-block;
}

#pizza-logo {
  height: 60px;
}

a > img {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.btn {
  color: white;
  border: none;
}

.btn-flavors {
  font-family: "Style Script", "Arial", "sans-serif";
  color: black;
  border: none;
  text-decoration: none;
  /* border: 2px solid black; */

  display: flex;
  justify-content: center;
  width: 55%;
  margin-top: 30px;
  margin-bottom: 5px;
  background-color: rgb(255, 252, 207);
  border-radius: 10px;
}

.btn-flavors-shake1 {
  color: black;
  text-decoration: none;
  position: relative;
  bottom: 30px;
}

.btn-flavors-shake2 {
  color: black;
  text-decoration: none;
  position: relative;
}

/* End of header elements */

/* Hamburger menu */

/* End of hamburger menu */

/* Start of carousel */
.carousel-and-description-container {
  /* background-color: rgb(0,0,0,0.2); */
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 30px;
}

#our-menu {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 40%;
  /* border: 2px solid black; */
  margin: 0;
}
#carouselExampleCaptions {
  margin: 0;
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-pagination {
  color: black;
}
.carousel-img-container {
  height: 100%;
}

.pizza-flavor-container {
  height: 92%;
  /* border: 2px solid black; */
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  margin-left: 50%;
  margin-bottom: 25%;
}

.box-container1 {
  /* border: solid 2px black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
}

.box-container2 {
  /* border: solid 2px black; */
  display: flex;
  justify-content: flexstart;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

/* .pizza-flavor-container > a {
     margin-top: 55px;
 } */

#pizza-flavor {
  margin-left: 15px;
  margin-top: 0px;
}

#chillito {
  margin-top: 42px;
  position: relative;
  bottom: 40px;
}

.carousel-inner {
  border-radius: 50%;
  width: 550px;
  border: 5px solid maroon;
}

.carousel-item {
  height: 20%;
}

.carousel-caption {
  /* border: 2px solid black; */
  /* background-color: rgba(255,220,2,0.3); */
  background-color: rgb(248, 191, 51, 0.3);
  position: absolute;
}

.carousel-control-prev {
  color: black;
}

/* end of carousel */

.empty-box {
  height: 10px;
  background-color: rgb(110, 162, 52);
}
/* section1 */
/* Our owners Container */

.our-team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}
.owner-section {
  height: 100%;
  width: 100%;
  border: solid 2px black;
  display: flex;
  justify-content: flex-start;
}
.our-owners-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 890px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.owner-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(255, 220, 2, 0.2);
  height: 400px;
  width: 700px;
}

.paragraph-container {
  /* border: 3px solid red;  */
  width: 500px;
  height: 100%;
}
#kganda,
#janeganda {
  height: 85%;
  width: 85%;
  border-radius: 50%;
  border: 3px solid maroon;
}
.img-box {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 4px solid rgb(233,156,5);  */
  border-radius: 5px;
  height: 180px;
  width: 200px;
}

.title-position-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  /* border: 3px solid red; */
  height: 55%;
  width: 28.4%;
}

.title-position-container > strong + em {
  font-family: "Montserrat", "sans-serif";
}
/* end of section1 */
/* start of section2 */

.our-products {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#our-products-heading {
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.aside-container {
  /* border: 2px solid black; */
  height: 100%;
  width: 100%;
}
.product-card-container {
  /* border: 2px solid black; */
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  height: 100%;
  background-color: rgb(255, 220, 2, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 0 20px;
  margin-bottom: 20px;
}
.card-shake-txt {
  margin: 10px;
  height: 600px;
  /* border: 2px solid black; */
  /* background-color: rgb(248,191,51,0.3); */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.yummy-pizza {
  height: 70px;
  opacity: 0.8;
}

#card-shake-paragraph {
  font-size: 68px;
  font-family: "Style Script", "Arial", "sans-serif";
  margin-left: 20px;
}

.smoothies-logo {
  display: inline-block;
  height: 45px;
  margin-bottom: 20px;
}

.card-shake-txt2 {
  margin-left: 40px;
  margin-top: 20px;
  height: 1000px;
  /* border: 2px solid black; */
  /* background-color: rgb(248,191,51,0.3); */
  display: flex;
  justify-content: center;
}

.excited-face-logo {
  height: 100px;
}

.card-text2 {
  /* border: solid 2px black; */
  width: 155px;
  height: 100px;
  margin-left: 30px;
}

.order-shake-btn {
  width: 100%;
  margin-bottom: 25px;
}

.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-body2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.card-img-top {
  width: 300px;
  height: 300px;
  margin-top: 15px;
}

.circle {
  border-radius: 50%;
  border: 2px solid maroon;
}

.shake-box {
  border-radius: 10px;
}

.product-card-container > div {
  height: 100%;
  width: 350px;
}

/* section 3 FAQs */

.faqs-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.accordion {
  width: 50%;
}
.accordion-header {
  width: 100%;
}

.accordion-button,
.accordion-body,
.accordion-header {
  background-color: rgb(255, 220, 2, 0.2);
}

.accordion-button:active {
  background-color: rgb(255, 200, 44);
}

/* section 4 reviews */

.reviews-section {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card2 {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 220, 2, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.card2-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

.rating-checked {
  display: inline-block;
  margin-top: 5px;
}

.orange {
  color: orange;
}

.shake-box-2 {
  border-radius: 15px;
  width: 100%;
}

.owl-carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border-red {
  border: 2px solid red;
}

.border-black {
  border: 2px solid black;
}

/* end of section 4 */

/* start of section 5 */

.contact-us-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.contact-us-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.contact-us-delivery-box-container {
  width: 100%;
  display: flex;
}
.contact-us-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.btn-group {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dropdown-toggle {
  width: 200px;
}

input[type="submit"] {
  margin-left: 60px;
  margin-top: 20px;
}

.contact-us-text > h2 > img {
  height: 52px;
  margin-bottom: 16px;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding-bottom: 50px;
}

.form-floating {
  height: 25%;
}

/* end of section 5 */

/* start of section 6 */

#delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

#delivery > h2 > img {
  height: 52px;
  margin-bottom: 16px;
}

.delivery-paragraph {
  font-family: "Style Script", "Arial", "sans-serif";
  font-size: 30px;
}

.delivery-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delivery-txt-container > p > a {
  text-decoration: none;
}

.delivery-txt-container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
.store-branches-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.store-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.store-box > img {
  height: 300px;
}

.store-branches-txt-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-warning {
  margin-top: 5px;
}

.delivery-paragraph-2 {
  font-family: "Style Script", "Arial", "sans-serif";
  font-size: 20px;
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* end of section 6 */

/* start of footer */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* end of footer */

.whole-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* end of our menu container  */
/* custom divider */

/* random */
.card-title,
.card-text2,
.order-shake-btn,
.accordion-button,
.accordion-body {
  font-family: "Montserrat", "sans-serif";
}

/* top wavy div */
.custom-shape-divider-top-1629033731 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1629033731 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1629033731 .shape-fill {
  fill: #ebe16b;
}

/* bottom wavy div */
.custom-shape-divider-bottom-1629042509 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1629042509 svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 149px;
}

.custom-shape-divider-bottom-1629042509 .shape-fill {
  fill: #e8dc50;
}

/* pseudo-classes */
.paragraph-container > p {
  font-family: "Montserrat", "sans-serif";
}

/* footer */
.footer-section {
  background-color: rgb(110, 162, 52);
  width: 100%;
}
/* end of footer */

/* Mobile last approach */
@media only screen and (max-width: 576px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin-inline: auto;
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    resize: none;
  }

  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  .container-fluid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .header-wavy-div {
    padding: 0%;
  }

  header > a {
    width: 100%;
  }
  /* header > a > h1 {
          font-size: 30px
      } */

  nav {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 1s ease;
    scroll-behavior: smooth;
  }

  label {
    display: block;
    cursor: pointer;
    width: 26px;
    float: right;
  }
  .hamburger-menu {
    text-align: center;
    width: 100%;
    display: none;
    margin-right: 10px;
  }

  .hamburger-menu li {
    display: block;
    margin: 0;
    color: yellow;
    opacity: 90%;
    border: 1px dotted black;
  }

  .hamburger-menu li:hover {
    font-weight: bold;
  }

  #hamburger,
  #toggle {
    height: 200px;
    scroll-behavior: smooth;
    display: contents;
  }

  #toggle:checked + .hamburger-menu {
    display: block;
  }

  .hamburger-menu > li:hover {
    color: yellow;
  }

  #our-menu,
  .carousel-caption > h1,
  #pizza-flavor > h2 {
    font-size: 40px;
  }

  #pizza-flavor {
    width: 100%;
    margin-right: 19px;
  }

  .carousel-caption {
    height: 80%;
  }

  .carousel-caption > h1 {
    font-size: 30px;
  }

  .box-container1 > h2,
  .box-container2 > h2 {
    font-size: 25px;
  }

  .carousel-and-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .carousel-pagination {
    display: none;
  }
  .carousel-img-container {
    margin-left: 270px;
  }
  #our-menu {
    width: 100%;
  }

  .carousel-caption {
    margin-top: 20px;
  }
  #pizza-flavor,
  .pizza-flavor-container,
  .box-container1,
  .box-container2 {
    display: none;
  }

  .owl-carousel {
    margin-left: 25px;
  }

  .btn-flavors,
  .btn-flavors-shake1,
  .btn-flavors-shake2 {
    margin: 0;
  }

  .carousel-caption {
    width: 70%;
  }

  .carousel-caption > h1 + p {
    font-size: 10px;
  }

  #ham-and-cheese,
  #hawaiian,
  #pepperoni,
  #bacon,
  #avocado-smoothie,
  #mango-graham-shake {
    font-size: 30px;
  }

  .carousel-btn {
    font-size: 15px;
  }

  .carousel-control-prev-icon {
    margin-right: 10px;
  }

  /* .carousel-control-next-icon {
        margin-right: 15px;
     } */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
  }

  .carousel-control-next-icon:after {
    content: ">";
    font-size: 30px;
    color: rgb(110, 162, 52);
  }

  .carousel-control-prev-icon:after {
    content: "<";
    font-size: 30px;
    color: rgb(110, 162, 52);
  }

  .our-team-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin-left: 55px;
  }

  .our-team {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* border: solid 2px red; */
    width: 100%;
  }

  .franchise-owners-container,
  .franchise-owners-box-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .franchise-owners-box-container {
    background-color: rgb(255, 220, 2, 0.2);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .team-images {
    width: 80%;
    border-radius: 15px;
  }

  .img-box {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
  }

  .details-container {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .name-and-title-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .product-card-container {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .card,
  .card-shake-txt,
  .card-shake-txt2 {
    width: 20%;
    position: relative;
    right: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .faqs-section > h3 {
    font-size: 40px;
  }

  .review-top-wavy,
  .review-bottom-wavy {
    display: none;
  }

  .reviews-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
  }

  .our-reviews-txt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  label[for="floatingInput"] {
    display: contents;
  }
  .contact-us-box > h3 {
    font-size: 40px;
  }
  .contact-us-box p {
    font-size: 11px;
  }
}

/* tablet */

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .header-nav {
    display: flex;
    justify-content: flex-start;
  }
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    resize: none;
  }

  header > h1 {
    font-size: 50px;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .hamburger-menu {
    border: 2px solid black;
    text-align: center;
    width: 100%;
    display: none;
    background-color: rgb(248, 191, 51, 0.3);
    margin-right: 10px;
  }

  .hamburger-menu li {
    display: block;
    border-bottom: solid 5px black;
    opacity: 90%;
  }

  #hamburger,
  #toggle {
    height: 200px;
    scroll-behavior: smooth;
    display: contents;
  }

  #toggle:checked + .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .carousel-indicators,
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel-caption {
    height: 80%;
  }

  .carousel-caption > h1 {
    font-size: 30px;
  }

  .carousel-and-description-container > h1 {
    font-size: 35px;
  }
  .box-container1 > h2,
  .box-container2 > h2 {
    font-size: 25.5px;
  }
  .pizza-flavor-container {
    height: 100%;
    width: 50%;
    margin-top: 10px;
  }

  .box-container1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .box-container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .box-container1 > a {
    font-size: 13.5px;
    padding: 0;
    margin-top: 20px;
  }
  .box-container2 > a {
    font-size: 13.5px;
    margin-top: 8px;
  }

  .box-container2 > h2 {
    margin-top: 20px;
  }

  .btn-flavors {
    font-family: "Style Script", "Arial", "sans-serif";
    color: black;
    border: none;
    text-decoration: none;
    width: 55%;
    background-color: rgb(255, 252, 207);
    border-radius: 10px;
  }

  .btn-flavors-shake1 {
    color: black;
    text-decoration: none;
    position: relative;
    bottom: 30px;
  }

  .btn-flavors-shake2 {
    color: black;
    text-decoration: none;
    position: relative;
  }

  .franchise-owners-box-container {
    background-color: rgb(255, 220, 2, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
  }
  .img-box {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .team-images {
    width: 100%;
  }

  .details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .name-and-title-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .p-container {
    width: 52%;
    height: 42%;
    position: absolute;
    margin-left: 235px;
    margin-bottom: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .product-card-container {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

/* Our team paragraph responsiveness */
@media only screen and (min-width: 626px) {
  .p-container {
    margin-left: 250px;
  }
}
@media only screen and (min-width: 659px) {
  .p-container {
    margin-left: 270px;
  }
}

@media only screen and (min-width: 677px) {
  .p-container {
    margin-left: 290px;
  }
}
@media only screen and (min-width: 707px) {
  .p-container {
    margin-left: 310px;
  }
}

@media only screen and (min-width: 731px) {
  .p-container {
    margin-left: 330px;
  }
}

@media only screen and (min-width: 761px) {
  .p-container {
    margin-left: 335px;
  }
}
